
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500&display=swap');
* {
    padding: 0;
    margin: 0;
}
#ultimasnoticias{
    height: 30rem;
    display: flex;
    justify-content: space-around;
}
.conteiner4{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 100px;
    
}
.conteiner4 h5{
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    font-size: 18px;
    line-height: 18px;
    color: #217BF4;
}
.conteiner4 h2{
    font-family: 'Inter', sans-serif;
    font-weight: 700px;
    font-size: 36px;
    line-height: 36px;
    margin-top: 5px;
    color: #0A093D;
}
.conteiner5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;

}
.conteiner5 img{
    height: 250px;
}
.input1{
    display: flex;
    width: 39px;
    height: 0px;
    border: 2px solid #FFAF2E;
    margin-top: 190px;
    margin-left:25px;

}
.bloco1 h4{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2F2C4A;
    margin-bottom: 25px;
}
.bloco1 p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}
.bloco2 h4{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2F2C4A;
    margin-bottom: 25px;
}
.bloco2 p{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #217BF4;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.bloco3 h4{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2F2C4A;
    margin-bottom: 25px;
}
.bloco3 p{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}